.navbar{
    background-color: aquamarine;
}
.navbar-toggler{
    border-color: gray;
    background-color: lightskyblue;
}
.text-white{
    color: lightskyblue !important;
}
.p-4{
    background-color: aquamarine;
}
a{
    display: flex;
    text-decoration: none;
    text-decoration-line: none;
}
.card{
    margin-top: 10px;
    margin-left: 10px;
}
.col-md-10{
    width: 70%;
}
#carouselExampleSlidesOnly{
    height: 300px;
    max-height: 300px;
}